apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: first-helm
  namespace: argocd
spec:
  project: first-helm
  source:
    repoURL: https://github.com/venkata22a/kubernetes.git
    targetRevision: HEAD
    path: helm/traefik-ingress
    helm:
      valuesFile:
      - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: helm
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true