apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: first-argocd
  namespace: argocd
spec:
  project: first-project
  source:
    repoURL: https://github.com/venkata22a/kubernetes.git
    targetRevision: HEAD
    path: argocd-source-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: test-argocd
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
